spring:
  application:
    name: access-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      profile: dev
  datasource:
    url: jdbc:postgresql://${ACCESS_DB_HOST:localhost}:${ACCESS_DB_PORT:5435}/${ACCESS_DB_NAME:access}
    username: ${ACCESS_DB_USER:access}
    password: ${ACCESS_DB_PASSWORD:access}
    driver-class-name: org.postgresql.Driver

management:
  endpoints:
    web:
      exposure:
        include: health,info
