spring:
  application:
    name: discovery-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      profile: dev

server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

management:
  endpoints:
    web:
      exposure:
        include: health,info

