spring:
  application:
    name: booking-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      profile: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info
