spring:
  application:
    name: payment-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      profile: dev
  datasource:
    url: jdbc:postgresql://${PAYMENT_DB_HOST:localhost}:${PAYMENT_DB_PORT:5434}/${PAYMENT_DB_NAME:payment}
    username: ${PAYMENT_DB_USER:payment}
    password: ${PAYMENT_DB_PASSWORD:payment}
    driver-class-name: org.postgresql.Driver

management:
  endpoints:
    web:
      exposure:
        include: health,info
