spring:
  application:
    name: access-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: root
    password: mynewpassword
    driver-class-name: org.postgresql.Driver

management:
  endpoints:
    web:
      exposure:
        include: health,info
